<nav id="navMenu"></nav>
<script src="../js/navbar.js"></script>


<div class="container-fluid bg-1">
  <div class="row">
    
    <div class="col-md-3 col-md-offset-1">
                <div id="myCarousel" class="carousel slide">
                  <ol class="carousel-indicators"> 
                  <li data-target = "#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target = "#myCarousel" data-slide-to="1"></li>
                  </ol>


                  <div class="carousel-inner">
                    <div class="item active">
                      <img src="images/neptune.jpg" alt="Uranus" class="img-responsive"/>
                    </div>

                    <div class="item">
                      <img src="images/svg/neptune.svg" alt="Uranus" class="img-responsive"/>
                    </div>
                  </div>

                  <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                    <span class="icon-prev"></span>
                  </a>

                  <a class="carousel-control right" href="#myCarousel" data-slide="next">
                    <span class="icon-next"></span>
                  </a>
              </div>
    </div>  

    <div class="col-md-6"> 
      <div class="row">
           <div class="col-md-6">
                    <img src="images/gifs/neptune.gif" alt="NeptuneGif" class="img-responsive"/>
                </div>
            </div>


      <p>Neptune is the eighth and farthest known planet from the Sun in the Solar System. In the Solar System, it is the fourth-largest planet by diameter, the third-most-massive planet, and the densest giant planet. Neptune is 17 times the mass of Earth and is slightly more massive than its near-twin Uranus, which is 15 times the mass of Earth and slightly larger than Neptune. Neptune orbits the Sun once every 164.8 years at an average distance of 30.1 astronomical units (4.50×109 km). It is named after the Roman god of the sea and has the astronomical symbol ♆, a stylised version of the god Neptune's trident.

      Neptune is not visible to the unaided eye and is the only planet in the Solar System found by mathematical prediction rather than by empirical observation. Unexpected changes in the orbit of Uranus led Alexis Bouvard to deduce that its orbit was subject to gravitational perturbation by an unknown planet. Neptune was subsequently observed with a telescope on 23 September 1846 by Johann Galle within a degree of the position predicted by Urbain Le Verrier. Its largest moon, Triton, was discovered shortly thereafter, though none of the planet's remaining known 14 moons were located telescopically until the 20th century. The planet's distance from Earth gives it a very small apparent size, making it challenging to study with Earth-based telescopes. 
      </p>

    <a class="btn btn-primary page-scroll" href="#neptunePage">More Information</a>

    </div>
    </div>
</div>


<div class="container-fluid bg-2" id="neptunePage">
    <div id="overlay">
      <div class="row">
          <div class="col-md-3">
            <a class="twitter-timeline" data-height="500" data-theme="dark" href="https://twitter.com/WorldNeptune">Tweets by WorldNeptune</a> <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>

          <div class="col-md-3"> 
              <h1>NEPTUNE STATISTICS</h1>
            <ul>
               {{#each data}}
                  <li>Radius: {{radius}} km</li>
                  <li>Distance from Earth: {{distance}} AU</li>
                  <li>Gravity: {{gravity}} g</li>
                  <li>Moons: {{moons}}</li>
               {{/each}}
            </ul>
          </div>
      </div>
    </div>
</div>



<!-- add javascript to bottom of the page so it loads faster-->
<!--bootstrap uses jquery so need to load jquery script first--> 
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>

<!-- the scroll function/scripts was obtained from here 
https://startbootstrap.com/template-overviews/scrolling-nav/ -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/scrolling-nav.js"></script>