<nav id="navMenu"></nav>
<script src="../js/navbar.js"></script>


<div class="container-fluid bg-1">
  <div class="row">
    
    <div class="col-md-3 col-md-offset-1">
                <div id="myCarousel" class="carousel slide">
                  <ol class="carousel-indicators"> 
                  <li data-target = "#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target = "#myCarousel" data-slide-to="1"></li>
                  </ol>


                  <div class="carousel-inner">
                    <div class="item active">
                      <img src="images/saturn.png" alt="Saturn" class="img-responsive"/>
                    </div>

                    <div class="item">
                      <img src="images/svg/saturn.svg" alt="Saturn" class="img-responsive"/>
                    </div>
                  </div>

                  <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                    <span class="icon-prev"></span>
                  </a>

                  <a class="carousel-control right" href="#myCarousel" data-slide="next">
                    <span class="icon-next"></span>
                  </a>
              </div>
    </div>  

    <div class="col-md-6"> 
      <div class="row">
           <div class="col-md-6">
                    <img src="images/gifs/saturn.gif" alt="SaturnGif" class="img-responsive"/>
                </div>
            </div>

      <p>Saturn is the sixth planet from the Sun and the second-largest in the Solar System, after Jupiter. It is a gas giant with an average radius about nine times that of Earth. Although it has only one-eighth the average density of Earth, with its larger volume Saturn is just over 95 times more massive. Saturn is named after the Roman god of agriculture; its astronomical symbol (♄) represents the god's sickle.

      Saturn's interior is probably composed of a core of iron–nickel and rock (silicon and oxygen compounds). This core is surrounded by a deep layer of metallic hydrogen, an intermediate layer of liquid hydrogen and liquid helium, and finally outside the Frenkel line a gaseous outer layer. Saturn has a pale yellow hue due to ammonia crystals in its upper atmosphere. Electrical current within the metallic hydrogen layer is thought to give rise to Saturn's planetary magnetic field, which is weaker than Earth's, but has a magnetic moment 580 times that of Earth due to Saturn's larger size. Saturn's magnetic field strength is around one-twentieth of Jupiter's. The outer atmosphere is generally bland and lacking in contrast, although long-lived features can appear. Wind speeds on Saturn can reach 1,800 km/h (500 m/s), higher than on Jupiter, but not as high as those on Neptune.</p>

      <a class="btn btn-primary page-scroll" href="#saturnPage">More Information</a>

      </div>
    </div>
</div>


<div class="container-fluid bg-2" id="saturnPage">
    <div id="overlay">
    <div class="row">
        <div class="col-md-3">
         <a class="twitter-timeline" data-height="500" data-theme="dark" href="https://twitter.com/CassiniSaturn">Tweets by CassiniSaturn</a> <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <div class="col-md-3"> 
            <h1>SATURN STATISTICS</h1>
            <ul>
               {{#each data}}
                  <li>Radius: {{radius}} km</li>
                  <li>Distance from Earth: {{distance}} AU</li>
                  <li>Gravity: {{gravity}} g</li>
                  <li>Moons: {{moons}}</li>
               {{/each}}
            </ul>
        </div>
      </div>
    </div>
</div>



<!-- add javascript to bottom of the page so it loads faster-->
<!--bootstrap uses jquery so need to load jquery script first--> 
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>

<!-- the scroll function/scripts was obtained from here 
https://startbootstrap.com/template-overviews/scrolling-nav/ -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/scrolling-nav.js"></script>