<nav id="navMenu"></nav>
<script src="../js/navbar.js"></script>


<div class="container-fluid bg-1">
  <div class="row">
    
    <div class="col-md-3 col-md-offset-1">
                <div id="myCarousel" class="carousel slide">
                  <ol class="carousel-indicators"> 
                  <li data-target = "#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target = "#myCarousel" data-slide-to="1"></li>
                  </ol>


                  <div class="carousel-inner">
                    <div class="item active">
                      <img src="images/uranus.png" alt="Uranus" class="img-responsive"/>
                    </div>

                    <div class="item">
                      <img src="images/svg/uranus.svg" alt="Uranus" class="img-responsive"/>
                    </div>
                  </div>

                  <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                    <span class="icon-prev"></span>
                  </a>

                  <a class="carousel-control right" href="#myCarousel" data-slide="next">
                    <span class="icon-next"></span>
                  </a>
              </div>
    </div>  

    <div class="col-md-6"> 
      <div class="row">
           <div class="col-md-6">
                    <img src="images/gifs/uranus.gif" alt="UranusGif" class="img-responsive"/>
                </div>
            </div>

      <p>Uranus is the seventh planet from the Sun. It has the third-largest planetary radius and fourth-largest planetary mass in the Solar System. Uranus is similar in composition to Neptune, and both have different bulk chemical composition from that of the larger gas giants Jupiter and Saturn. For this reason, scientists often classify Uranus and Neptune as "ice giants" to distinguish them from the gas giants. Uranus's atmosphere is similar to Jupiter's and Saturn's in its primary composition of hydrogen and helium, but it contains more "ices" such as water, ammonia, and methane, along with traces of other hydrocarbons. It is the coldest planetary atmosphere in the Solar System, with a minimum temperature of 49 K (−224 °C; −371 °F), and has a complex, layered cloud structure with water thought to make up the lowest clouds and methane the uppermost layer of clouds. The interior of Uranus is mainly composed of ices and rock.
      <br> </br>
      Like the other giant planets, Uranus has a ring system, a magnetosphere, and numerous moons. The Uranian system has a unique configuration among those of the planets because its axis of rotation is tilted sideways, nearly into the plane of its solar orbit. Its north and south poles, therefore, lie where most other planets have their equators.
      </p>

    <a class="btn btn-primary page-scroll" href="#uranusPage">More Information</a>

    </div>
    </div>
</div>


<div class="container-fluid bg-2" id="uranusPage">
    <div id="overlay">
    <div class="row">
        <div class="col-md-3">
          <a class="twitter-timeline" data-height="500" data-theme="dark" href="https://twitter.com/IceGiantsToday">Tweets by IceGiantsToday</a> <script  src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <div class="col-md-3"> 
            <h1>URANUS STATISTICS</h1>
            <ul>
               {{#each data}}
                  <li>Radius: {{radius}} km</li>
                  <li>Distance from Earth: {{distance}} AU</li>
                  <li>Gravity: {{gravity}} g</li>
                  <li>Moons: {{moons}}</li>
               {{/each}}
            </ul>
        </div>
      </div>
    </div>
</div>



<!-- add javascript to bottom of the page so it loads faster-->
<!--bootstrap uses jquery so need to load jquery script first--> 
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>

<!-- the scroll function/scripts was obtained from here 
https://startbootstrap.com/template-overviews/scrolling-nav/ -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/scrolling-nav.js"></script>