body {
    font-family: "Montserrat", sans-serif;
    color: #f5f6f7;

}

/*all to do with colouring the navbar correctly*/
.navbar {
	background-color: #070915;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;

    letter-spacing: 5px;
}

.navbar-default .navbar-nav .dropdown.open a:focus {
    background-color: #070915;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #070915;
    color:#ffffff;
}

.navbar-brand {

   color: #ffffff !important ; 
 
}

.nav.navbar-nav li a {
   color: #ffffff;
 }

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.btn {
    background-color: #070915;
    color:#ffffff;
}



.bg-1 {
	background-color: #000000;
	padding-top: 150px ; 
	padding-bottom: 120px;
}


h1 {
	letter-spacing: 5px;
	font-size: 50px ; 
}

.bg-2 {
    background-image: url("../images/marsgradient.png");
    background-size: 100% 100%;
	background-position: center ;
	background-attachment: fixed;
	
	background-repeat: no-repeat;
	padding-top: 125px;
    padding-bottom: 25px;

}