a {
    color: white;
    text-decoration: none;
}

#gifContainer {
    position: relative;
    top: 2em;
  
    margin: auto;

    max-width: 70%;     
    overflow-x: hidden;
    overflow-y: hidden;   
}

body {
    /*padding-top: 2%;
    background-color: green;
    
    max-width:80%;        
    overflow-x: hidden;
    overflow-y: hidden;*/
}

html {
    height: 100%;
    overflow: hidden;
    background-image: url("images/backgrounds/night_sky.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.gifLink {
   margin-top:2%;
   float: left; 
   width:45%;
   height:35%;
     
   min-width:15em;

   overflow: hidden;
   white-space:nowrap;
}

#gifLeft {
    margin-right:5%;
}

#gifRight {
    margin-left:5%;
}

.pagetext {
   margin: auto;
   margin-top: 5%;
   
   max-width:70%;
   min-height:1em;
   max-height:3.5em;
   color:white;

   background-color: black;
   
   font-size: 1em;
   text-align: center;
   font-family: Courier New;  
   overflow: hidden;
}

/*Fit gifs into columns if window size decreases*/
@media screen and (max-width: 50em) {
      
    #gifRight {
        margin-left:27%;
    }
    
    #gifLeft{
        margin-left:27%;
    }
    
    #gifContiner {
        background-color: red;
        width: 15em;
    }
    
    .pagetext {
        display: none;
    }
}