table {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    
    width:80%;
    background-color: black;
    
    color: white;
    font-family: Courier New;
    font-size: 1.5em;  
    text-align: center;
}

#tableHeader {
    font-weight: bold;
    background-image: url("images/backgrounds/table_header.jpg");
}

tr,td {
    border: 1px solid white;    
    white-space: nowrap;
}
