h1 { 
   width: 10em;
   color:white;
   font-size: 230%; /*2.5em*/
   text-align: center;
   font-family: Courier New;   
   
   margin-left:35%;
   margin-right:35%;   
   background-color:black;  
}

a {
    color: white;
    text-decoration: none;
}

.parallax1 {
    background-image: url("images/backgrounds/shuttle3.jpg");
    height: 100%;
    
    padding: 12em; 
    margin: 0;
 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;    
}

.parallax2 {
    background-image: url("images/backgrounds/jupiter1.jpg");
    height: 100%;
    
    padding: 12em; 
    margin: 0;
 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;    
}

.pagetext {
   margin-top:8em;
   margin-left:25%;
   margin-right:25%;  
   margin-bottom:8em;
   
   color:white;
   background-color:black;
   font-size: 1em;
   text-align: center;
   font-family: Courier New;

    min-width: 10em;
}

body {
    margin:auto;
    max-width:100%;        
    overflow-x: scroll;  
}

html {
    height: 100%;
    background-color: #f2f2f2;
}

